body {
    background-color: aliceblue;
}
.hidden {
    display: none;
}
.comment {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}
.scoreHolder {
    padding: 10px;
    color: darkblue;
}
 .contentHolder {
    display: flex;
    flex-direction: column;
 }
 .topContent {
    display: flex;
    justify-content: space-between;
}
.topleft {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profilepicClass {
    max-width: 20px;
    padding-right: 10px;
    max-height: 20px;
}
.topleft .username {
    color: black;
    font-weight: bold;
    padding-right: 10px;
}
.topleft .timeposted {
    color: darkgray;
}
.topRight .Reply {
    color: blue;
}

.replyContent {
    display: flex;
    flex-direction: column;
}
.verticalLine {
    display: flex;
    justify-content: center;
    width: 5%;
}
.lineElem {
    border-right: lightgray 2px solid;
}
.replyElem {
    display: flex;
    margin-left: 20px;
}
.userComment {
    display: flex;
    align-items: center;
}
.commentTextAreaBox {
    flex: 1;
    margin-right: 20px;
    background-color: white;
    min-height: 50px;
    padding: 5px;
}
.commentborder {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.userAddCommentHolder {
    margin-left: 20px;
}
.update {
    width: 20%;
    align-self: end;
}